<header>
<div class="head_img">
	<a ng-click="login('person')"><img src="images/person_img.png" alt=""></a>
	<p><a ng-click="login('person')">立即登录</a></p>
</div>
</header>
<section class="sec">
	<div class="my_order">
		<h3><a href="order.html">我的订单</a></h3>
		<span id="all_order"><a ng-click="login('order')">查看全部订单 &gt;</a></span>
	</div>
	<ul class="nav">
		<li>
			<a href="###">
				<img src="images/dfk.jpg" alt="">
				<p>代付款</p>
			</a>
		</li>
		<li>
			<a href="###">
				<img src="images/dsh.jpg" alt="">
				<p>代收货</p>
			</a>
		</li>
		<li>
			<a href="###">
				<img src="images/dpj.jpg" alt="">
				<p>代评价</p>
			</a>
		</li>
		<li>
			<a href="###">
				<img src="images/thh.jpg" alt="">
				<p>退换货</p>
			</a>
		</li>
	</ul>
	<ul class="nav2">
		<li>
			<a href="###">
				<img src="images/sc.jpg" alt="">
				<p>我的收藏</p>
				<p>&gt;</p>
			</a>
		</li>
		<li>
			<a href="###">
				<img src="images/yhj.jpg" alt="">
				<p>我的优惠券</p>
				<p>&gt;</p>
			</a>
		</li>
		<li>
			<a href="###">
				<img src="images/kf.jpg" alt="">
				<p>我的客服</p>
				<p>&gt;</p>
			</a>
		</li>
		<li>
			<a href="addres.html">
				<img src="images/dz.jpg" alt="">
				<p>收货地址</p>
				<p>&gt;</p>
			</a>
		</li>
		<li>
			<a href="###">
				<img src="images/sz.jpg" alt="">
				<p>设置</p>
				<p>&gt;</p>
			</a>
		</li>
	</ul>
</section>
<div ng-include="'tpl/footer.html'"></div>